@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>
<br />
<a class="btn btn-primary" asp-action = "ExportStaticExcelBlogList" asp-controller = "Blog">Excel Listesini İndir</a>

@*<button class = "btn btn-primary" onclick = "DownloadExcelBlogList">Excel Listesini İndir</button>

<script>
    function (){
        window.open("/Admin/Blog/ExportStaticExcelBlogList");
    }
</script>*@